<app-loader *ngIf="isLoading"></app-loader>

<div class=" my-4 w-75 mx-auto">
    <input [(ngModel)]="searchedItem" type="text" class="form-control " placeholder="Search by title" />
</div>

<!-- Main Content -->
<div class="row g-3 mt-4 mb-5">

    <div #product class="col-xl-2 col-lg-3 col-md-4 col-sm-6" *ngFor="let product of productsList
    | search : searchedItem ">

        <div class="product p-3 rounded  position-relative">
            <ul class="product-info list-unstyled text-white">
                <li class="cursor-pointer" [routerLink]="['/product-details', product._id]">
                    <i class="fa fa-search fs-6"></i>
                </li>

                <li class="cursor-pointer" *ngIf="!wishListIDs.includes(product._id)"
                    (click)="addProductToWhishList(product._id)">
                    <i class="fa-regular fa-heart fs-6"></i>
                </li>

                <li class="cursor-pointer" *ngIf="wishListIDs.includes(product._id)"
                    (click)="removeProductFromWhishList(product._id)">
                    <i class="fa-solid fa-heart fs-6 "></i>
                </li>

                <li class="cursor-pointer" *ngIf="!cartListIDs.includes(product._id)"
                    (click)="addProductToCart(product._id)">
                    <i class="fa-solid fa-cart-plus  fs-6"></i>
                </li>
                <li class="cursor-pointer" *ngIf="cartListIDs.includes(product._id)"
                    (click)="removeProductFromCart(product._id)">
                    <i class="fa-solid fa-cart-shopping text-main  fs-6"></i>
                </li>
            </ul>

            <div class="product-desc">
                <figure>
                    <img [src]="product.imageCover" class="w-100 " [alt]="product.title">
                </figure>
                <figcaption>
                    <div class="d-flex justify-content-between">
                        <span class="font-sm text-main fw-bolder">{{product.category.name}}</span>
                        <div>
                            <span class="cursor-pointer me-1" *ngIf="wishListIDs.includes(product._id)"
                                (click)="removeProductFromWhishList(product._id)">
                                <i class="fa-solid fa-heart font-sm text-danger"></i>
                            </span>
                            <span class="cursor-pointer ms-1" *ngIf="cartListIDs.includes(product._id) "
                                (click)="removeProductFromCart(product._id)">
                                <i class="fa-solid fa-cart-shopping text-main font-sm"></i>
                            </span>
                        </div>
                    </div>

                    <h3 class="font-sm fw-bolder pb-2 pt-1">{{product.title | sliceString:2}}</h3>
                    <div class="d-flex justify-content-between font-sm">
                        <p class="fw-medium ">{{product.price|currency:'EGP '}} </p>
                        <span>{{product.ratingsAverage}} <i class="fas fa-star rating-color"></i> </span>
                    </div>
                </figcaption>
            </div>

        </div>

    </div>


</div>