<div class="footer bg-body-tertiary pt-5 pb-5">
    <div class="container">
        <h5 class="fw-semibold pt-2">Get The Fresh Cart app</h5>
        <p class="text-body-secondary">We will send you a link, Open it on your phone to download the app.</p>


        <div class="mb-3 w-100 me-auto d-flex justify-content-between align-items-center flex-wrap">
            <input type="email" class=" ms-0 ms-lg-2 form-control w-75 me-auto " placeholder="Email.." />
            <button class="btn bg-main text-white  mt-3 mt-lg-0 px-5">Share App Link</button>
        </div>
        <hr class="text-body-tertiary">

        <div class="d-flex justify-content-between flex-wrap">
            <div class="partners my-2 my-lg-0 ">
                <p class="mb-0 py-1 me-1 ">Payment Partners</p>
                <div>
                    <a class="cursor-pointer">
                        <img src="assets/master.svg" alt="mastercard-Logo">
                    </a>
                    <a class="cursor-pointer">
                        <img src="assets/visa-1.svg" alt="visa-Logo">
                    </a>
                    <a class="cursor-pointer">
                        <img src="assets/paypal.svg" class="mx-1" style="width: 30px;" alt="PayPal-Logo">
                    </a>
                    <a class="cursor-pointer">
                        <img src="assets/amazon-pay-logo.svg" style="width: 60px;" class="mx-1" alt="amazon-pay-logo">
                    </a>
                </div>
            </div>

            <div class="delivery my-2 my-lg-0 ">
                <p class="mb-0 py-1 me-1 ">Get Delivery With FreshCart</p>
                <div>
                    <div class="delivery-content  ms-auto ">
                        <a class="cursor-pointer">
                            <img src="assets/google-play-badge.png" alt="google_play" style="width: 92px;">
                        </a>
                        <a class="cursor-pointer">
                            <img src="assets/app_store.png" alt="app_store" style="width: 80px; margin: 5px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="text-body-tertiary">

        <div class="social d-flex justify-content-between">
            <p class=" mb-0 me-2">
                Our Social Links
            </p>
            <div class="social-links">
                <a class="cursor-pointer">
                    <i class=" fab fa-instagram mx-2 "></i>
                </a>
                <a class="cursor-pointer">
                    <i class=" fab fa-facebook mx-2 "></i>
                </a>
                <a class="cursor-pointer">
                    <i class=" fab fa-tiktok mx-2 "></i>
                </a>
                <a class="cursor-pointer">
                    <i class=" fab fa-twitter mx-2 "></i>
                </a>
                <a class="cursor-pointer">
                    <i class=" fab fa-linkedin mx-2 "></i>
                </a>
                <a class="cursor-pointer">
                    <i class=" fab fa-youtube mx-2 "></i>
                </a>
            </div>
        </div>
    </div>
</div>