.logout a {
    transition: color .3s;
}

.logout a:hover {
    color: var(--main-color);
}

@media screen and (max-width:992px) {

    .notUser,
    .user {
        justify-content: space-between;
    }
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.15rem var(--main-color);
}