<app-loader *ngIf="!isLoadingLayer"></app-loader>
<div class="row px-3 py-3">
    <div class="forgetPassword shadow py-3 px-3 rounded my-4 w-75 mx-auto">
        <h3 class="my-4">Enter Your Email :</h3>

        <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword(forgetPasswordForm)">

            <div *ngIf="apiError.length > 1" class="alert alert-danger">
                {{apiError}}
            </div>

            <div class=" mb-2">
                <label for="forgetPasswordInput" class="form-label">Email:</label>
                <input formControlName="email" type="text" id="forgetPasswordInput" [class]="
                forgetPasswordForm.get('email')?.errors==null ? 
                    'form-control is-valid' :
                    forgetPasswordForm.get('email')?.errors?.['email']?
                    'form-control is-invalid' : 'form-control'">
                <div *ngIf="forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched "
                    class="alert alert-danger my-2 rounded p-2">
                    <p class="mb-0" *ngIf="forgetPasswordForm.get('email')?.errors?.['required']">Input is required</p>
                    <p class="mb-0" *ngIf="forgetPasswordForm.get('email')?.errors?.['email']">Email must be valid one
                    </p>
                </div>
                <button class="btn bg-main text-white mt-3 d-block ms-auto w-25"
                    [disabled]=" forgetPasswordForm.invalid">
                    <span *ngIf="!isLoading">Send </span>
                    <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </form>

    </div>
</div>