<div class="row g-0 my-3">
  <div class="col-8">
    <owl-carousel-o [options]="carouselOptions">
      <ng-template carouselSlide>
        <img src="assets/mSlider1.jpeg" alt="main-slider" />
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/main-slider-2.jpg " alt="main-slider" />
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/mSlider2.jpeg" alt="main-slider" />
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/mSlider3.jpeg" alt="main-slider" />
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="col-4">
    <div>
      <img src="assets/mSlider5.png" class="w-100" alt="main-slider" />
      <img src="assets/mSlider6.jpeg" class="w-100" alt="main-slider" />
    </div>
  </div>
</div>
