@media screen and (max-width: 992px) {
    .verifyCode {
        width: 100% !important;
        padding: 15px !important;
    }
}

.form-control.is-valid {
    border-color: var(--main-color);
}

.form-control.is-valid:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.25rem rgba(10, 173, 10, .4);
}