<app-loader *ngIf="!isLoadingLayer"></app-loader>

<div class="row px-3 py-3">
    <div class="updatePassword shadow py-3 px-3 rounded my-4 w-75 mx-auto">
        <h3 class="my-4">Update Your Data :</h3>
        <form [formGroup]="updateUserPasswordForm" (ngSubmit)="updatePassword(updateUserPasswordForm)">

            <div *ngIf="apiMessage" class="alert alert-danger">
                {{apiMessage}}
            </div>

            <div class="mb-2">
                <label for="currentPasswordInput" class="form-label">Current Password:</label>
                <input formControlName="currentPassword" type="password" id="currentPasswordInput" [class]="
                updateUserPasswordForm.get('currentPassword')?.errors==null ? 
                    'form-control is-valid' :
                    updateUserPasswordForm.get('currentPassword')?.errors?.['pattern'] ?
                    'form-control is-invalid' : 'form-control'" />
                <div class="alert alert-danger my-2 rounded p-2"
                    *ngIf="updateUserPasswordForm.get('currentPassword')?.touched && updateUserPasswordForm.get('currentPassword')?.errors">
                    <p class="mb-0" *ngIf="updateUserPasswordForm.get('currentPassword')?.errors?.['required']">
                        Input is required</p>
                    <p class="mb-0" *ngIf="updateUserPasswordForm.get('currentPassword')?.errors?.['pattern']">
                        Password must start with capital letter and min length is 6, max length 20</p>
                </div>
            </div>

            <div class="mb-2">
                <label for="passwordInput" class="form-label">New Password:</label>
                <input formControlName="password" type="password" id="passwordInput" [class]="
                updateUserPasswordForm.get('password')?.errors==null ? 
                    'form-control is-valid' :
                    updateUserPasswordForm.get('password')?.errors?.['pattern'] ?
                    'form-control is-invalid' : 'form-control'" />
                <div class="alert alert-danger my-2 rounded p-2"
                    *ngIf="updateUserPasswordForm.get('password')?.touched && updateUserPasswordForm.get('password')?.errors">
                    <p class="mb-0" *ngIf="updateUserPasswordForm.get('password')?.errors?.['required']">Input is
                        required
                    </p>
                    <p class="mb-0" *ngIf="updateUserPasswordForm.get('password')?.errors?.['pattern']">
                        Password must start with capital letter and min length is 6, max length 20</p>
                </div>
            </div>

            <div class="mb-2">
                <label for="repasswordInput" class="form-label">rePassword:</label>
                <input formControlName="rePassword" type="password" id="repasswordInput" [class]="
                updateUserPasswordForm.get('rePassword')?.errors==null ? 
                    'form-control is-valid' :
                    updateUserPasswordForm.get('rePassword')?.errors?.['rePasswordMatch'] ?
                    'form-control is-invalid' : 'form-control'" />
                <div class="alert alert-danger my-2 rounded p-2"
                    *ngIf="updateUserPasswordForm.get('rePassword')?.touched && updateUserPasswordForm.get('rePassword')?.errors">
                    <p class="mb-0" *ngIf="updateUserPasswordForm.get('rePassword')?.errors?.['required']">Input is
                        required</p>
                    <p class="mb-0" *ngIf="updateUserPasswordForm.get('rePassword')?.errors?.['rePasswordMatch']">
                        rePassword does not match password</p>
                </div>
            </div>

            <button class="btn bg-main text-white mt-3 d-block ms-auto " [disabled]=" updateUserPasswordForm.invalid">
                <span *ngIf="!isLoading"> Update</span>
                <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
            </button>

        </form>

    </div>
</div>